@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Conversión de Temperatura";
}

<h2>Conversión de Temperatura</h2>

<p>La temperatura de @ViewBag.Celsius °C es equivalente a @ViewBag.Fahrenheit °F.</p>

